$primary-background: rgb(33, 33, 88);
$secondary-background: rgb(56, 56, 110);

.navbar-global {
    display: inline-flex;
    margin: 0;
    color: white;
    height: 100%;
    .primary-navbar{
        background-color: $primary-background;
        margin: 0;
        padding: 0;
        border-right: 1px rgba(73, 73, 73, 0.616) solid;
        width: 4.5rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        z-index: 2;
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px rgba(73, 73, 73, 0.616) solid;
            height: 50px;
            img {
                width: 100%;
            }
        }
        .primary-menu {
            margin-top: 1rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .primary-menu:hover {
            cursor: pointer;
        }
    }
    .secondary-navbar {
        position: absolute;
        background-color: $secondary-background;
        margin: 0;
        padding: 0;
        width: 200px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transition: all 600ms;
        transform: translateX(-100%);
        display: none;
        margin-left: 4.5rem;
        z-index: 2;
        .title {
            font-size: 15px;
            background-color: $primary-background;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 1.5rem;
            height: 50px;
        }
        .secondary-menu {
            font-size: 12px;
            margin-top: 1rem;
            padding-left: 1.5rem;
            height: 30px;
            border-bottom: 1px rgba(99, 99, 99, 0.8) solid;
            display: flex;
            justify-content: flex-start;
            .med {
                font-size: 15px;
            }
            span {
                margin-left: 1rem;
            }
        }
        .secondary-menu:hover {
            cursor: pointer;
        }
    }
    .showMenu {
        transform: translateX(0%);
        display: inline;
    }
}

